*.out
obj
*.swp
*.prev
savefile.txt
*~

Morphy.xcodeproj/xcuserdata/TGuillerme.xcuserdatad/xcschemes/xcschememanagement.plist

Morphy.xcodeproj/xcuserdata/TGuillerme.xcuserdatad/xcschemes/Morphy.xcscheme

Morphy.xcodeproj/xcuserdata/TGuillerme.xcuserdatad/xcschemes/xcschememanagement.plist

Morphy.xcodeproj/xcuserdata/TGuillerme.xcuserdatad/xcschemes/GT-Tests.xcscheme

Morphy.xcodeproj/xcuserdata/TGuillerme.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

Morphy.xcodeproj/project.xcworkspace/xcuserdata/TGuillerme.xcuserdatad/UserInterfaceState.xcuserstate

Morphy.xcodeproj/project.xcworkspace/contents.xcworkspacedata

Morphy.xcodeproj/xcuserdata/TGuillerme.xcuserdatad/xcschemes/xcschememanagement.plist

Morphy.xcodeproj/xcuserdata/TGuillerme.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

Morphy.xcodeproj/project.xcworkspace/xcuserdata/TGuillerme.xcuserdatad/UserInterfaceState.xcuserstate
