---
---

@import "{{site.theme}}";

h1 {height: 60px;}

.page-header {
	background: #C04848;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #480048, #C04848);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #480048, #C04848); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

